.fileBrowserComponent ul.jqueryFileTree.treeview, ul.jqueryFileTree.treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
}


.fileBrowserComponent .treeview .hitarea {
	background: url(lib/jqueryFileTree/images/treeview-default.png) -67px -27px no-repeat #FFFFFF;
	height: 9px;
	width: 9px;
	margin-left: -17px;
	float: left;
	cursor: pointer;
	margin-top: 5px;
}

.fileBrowserComponent .treeview .expanded > .hitarea {
	background-position: -67px -27px;
}

/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.fileBrowserComponent .treeview li { 
	margin: 0;
	padding: 3px 0pt 3px 16px;
}

.fileBrowserComponent li a.folder, li a.file {
	background: none;
	text-align: left;
}

.fileBrowserComponent .treeview a.selected {
	background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.fileBrowserComponent .treeview .hover { color: red; cursor: pointer; }

.fileBrowserComponent .treeview li.directory,
.fileBrowserComponent .treeview li.file { 
	background: url(lib/jqueryFileTree/images/treeview-gray-line.gif) 0px 0px no-repeat; 
}


.fileBrowserComponent .treeview li.collapsable.directory, .treeview li.expandable.directory { 
	background-position: 0 -176px; 
}

.fileBrowserComponent .treeview .expandable-hitarea { background-position: -83px -5px; }

.fileBrowserComponent .treeview li.last { background-position: 0 -1766px }
.fileBrowserComponent .treeview li.lastCollapsable, .treeview li.lastExpandable { background-image: url(lib/jqueryFileTree/images/treeview-default.gif); }  
.fileBrowserComponent .treeview li.lastCollapsable { background-position: 0 -111px }
.fileBrowserComponent .treeview li.lastExpandable { background-position: -32px -67px }

.fileBrowserComponent .treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea { background-position: 0; }

.fileBrowserComponent .treeview-red li { background-image: url(lib/jqueryFileTree/images/treeview-red-line.gif); }
.fileBrowserComponent .treeview-red .hitarea, .treeview-red li.lastCollapsable, .treeview-red li.lastExpandable { background-image: url(lib/jqueryFileTree/images/treeview-red.gif); } 

.fileBrowserComponent .treeview-black li { background-image: url(lib/jqueryFileTree/images/treeview-black-line.gif); }
.fileBrowserComponent .treeview-black .hitarea, .treeview-black li.lastCollapsable, .treeview-black li.lastExpandable { background-image: url(lib/jqueryFileTree/images/treeview-black.gif); }  

.fileBrowserComponent .treeview-gray li { background-image: url(lib/jqueryFileTree/images/treeview-gray-line.gif); }
.fileBrowserComponent .treeview-gray .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(lib/jqueryFileTree/images/treeview-gray.gif); } 

.fileBrowserComponent .treeview-famfamfam li { background-image: url(lib/jqueryFileTree/images/treeview-famfamfam-line.gif); }
.fileBrowserComponent .treeview-famfamfam .hitarea, .treeview-famfamfam li.lastCollapsable, .treeview-famfamfam li.lastExpandable { background-image: url(lib/jqueryFileTree/images/treeview-famfamfam.gif); } 

.fileBrowserComponent .treeview .placeholder {
	background: url(lib/jqueryFileTree/images/ajax-loader.gif) 0 0 no-repeat;
	height: 16px;
	width: 16px;
	display: block;
}

.fileBrowserComponent .filetree li { padding: 3px 0 2px 16px; }
.fileBrowserComponent .filetree a.folder, .filetree a.file { padding: 1px 0 1px 18px; display: block; }
.fileBrowserComponent .filetree a.folder { background: url(lib/jqueryFileTree/images/folder.png) 0px 2px no-repeat; }
.fileBrowserComponent .filetree li.collapsed a.folder { background: url(lib/jqueryFileTree/images/folder.png) 0 2px no-repeat; }
.fileBrowserComponent .filetree a.file { background: url(lib/jqueryFileTree/images/file.gif) 0 0 no-repeat; }

ul.jqueryFileTree .file a {
	color: #333;
	text-decoration: none;
	display: block;
	background: url(lib/jqueryFileTree/images/file.png) no-repeat;
	padding-left: 15px;
	text-align: left;
}
